body{
    margin: 0 auto;
    padding: 0 16px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
    flex-grow:1;
    
}
footer{
    color:#888;
    border-top: 1px solid #eee;
    margin-top: 16px;
    padding:  16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 48px;
    margin-bottom: 16px;
    color:red;
}

nav a{
    margin-right: 16px;
    text-decoration: none;
    color: #888;
}

.photo {
    width:250px;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
}

input:focus {
    border: 1 px solid #888;
    border-radius: 0;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    background: #888;
    padding: 8px;
    color: white;
}